# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of build tools
/bin/
/build/
/dist/

# Dependency directories
/vendor/

# IDE/editor files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Environment variables file
.env

# Database files
*.db
*.sqlite